<div class="header-nav">
  <div class="container-fluid">
    <div class="col-xs-12 text-left">
      <a href="/">Queue</a>
      <a href="/jobs/create-new">Create a new job</a>
      <a href="/api">API</a>
      <a href="/about">About</a>
    </div>
  </div>
</div>
