<div class="header-nav">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
      <a href="/">Start</a>
      <a href="/api">API</a>
      <a href="/jobs">Jobs</a>
    </div>

    <div class="hidden-xs col-sm-4 text-right">&nbsp;</div>
  </div>
</div>
