<div class="header-nav">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
      <a href="/">Dashboard</a>
      <a href="/api">API</a>
    </div>

    <div class="hidden-xs col-sm-4 text-right">
      <!-- <a href="/jobs/create-new" class="btn btn-sm btn-primary">Create a job</a> | -->
      <a href="https://github.com/vothub/media-converter-api" class="btn btn-sm" target="_blank" rel="nofollow">GitHub</a>
    </div>
  </div>
</div>
