<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <img src="/public/logo.png" />

      <br />

      <h1>
        <a href="/">
          <strong>Media Converter</strong>
        </a>
        <br />
        <small>v0.2.0</small>
      </h1>

      <br />

      <p>Media Converter is Open Source software, licensed under MIT license terms.</p>

      <p>To report an issue, contribute and for more details see
        <a href="https://github.com/vothub/media-converter" target="_blank">
          Media Converter repository on GitHub
        </a>.
      </p>

    </div>
  </div>
</div>
