<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h2>API</h2>

      <p>This API provides three endpoints.</p>
      <p>You can POST multipart forms or JSON data to create a job.</p>
      <p>Throttling may apply.</p>
    </div>
  </div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <table class="table" width="100%">
        <tr>
          <td>
            <span class="label label-warning">POST</span>
            <span class="label label-default">multipart/form</span>
            <br />
            <code>/api/v1/create</code>
            <br /><br />

            <strong>Params:</strong>
            <br />

            <ul>
              <li>file</li>
              <li>format</li>
            </ul>
          </td>
          <td>
            Creates a conversion Job.
            <br /><br />
            <strong>Example:</strong><br />
            <code>curl --form "file=@test-vid.mp4" --form "format=gif" {{baseUrl}}/api/v1/create</code>
          </td>
        </tr>

        <tr>
          <td>
            <span class="label label-primary">GET</span>
            <code>/api/v1/status/:jobId</code>
            <br /><br />

            <strong>Params:</strong>
            <br />

            <ul>
              <li>jobId</li>
            </ul>
          </td>
          <td>
            Checks status of a previously created job.
            <br /><br />
            <strong>Example:</strong><br />
            <code>curl {{baseUrl}}/api/v1/status/1403b8ad-ef6a-4de9-9c81-3bc6827e785e</code>
          </td>
        </tr>

        <tr>
          <td>
            <span class="label label-primary">GET</span>
            <code>/api/v1/resolve/:jobId/:nicename</code>
            <br /><br />

            <strong>Params:</strong>
            <br />

            <ul>
              <li>jobId</li>
              <li>nicename</li>
            </ul>
          </td>
          <td>
            Retrieves the converted output file.
            <br /><br />
            <strong>Example:</strong><br />
            <code>curl {{baseUrl}}/api/v1/stream/1403b8ad-ef6a-4de9-9c81-3bc6827e785e/test-vid.gif > test-vid.gif</code>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
