<div class="row text-center">
  <div class="col-xs-12">

    <form action="/api/v1/convert" enctype="multipart/form-data" method="POST" style="width: 300px; margin: 0 auto">
      <div class="form-group">
        <!--
        <div class="input-group">
          <input type="url" class="form-control input-lg" id="lookupInput" name="lookupInput" required placeholder="Insert your URL here">
          <div class="input-group-addon">
            <button type="submit" id="lookupGo" class="btn btn-default rs-button-bg">Fetch</button>
          </div>
        </div>
         -->

        <div class="input-group">
          <!-- <input type="text" name="converto-basename"><br /> -->
          <input class="form-control" type="file" name="converto-file"><br />
          <select class="form-control" name="converto-format">
            <option>mp4</option>
            <option>mp3</option>
            <option>gif</option>
            <option>flv</option>
            <option>ogv</option>
            <option>ogg</option>
          </select>
          <br />

          <!-- <label>
            <input type="checkbox" name="converto-onetime" checked="checked" />Delete this file after one successful retrieval/download
          </label><br /> -->
          <br />
          <br />
          <input type="submit" class="btn btn-md btn-primary" value="Convert" >

      </div>
    </div>

      <br /><br />
      <small>Max size: 50MB</small>
    </form>

  </div>
</div>

<br /><br />
